.navbar {
    background-color: #222;
    padding: 15px;
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #4da6ff;
}